<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header bloqra-sticky-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","style":{"spacing":{"padding":{"top":"var:preset|spacing|2-xl","bottom":"var:preset|spacing|2-xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="padding-top:var(--wp--preset--spacing--2-xl);padding-bottom:var(--wp--preset--spacing--2-xl)">

	<!-- wp:pattern {"slug":"bloqra/hidden-404"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
